@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0 0;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #090f11;
  padding: 1rem;
  color: #0dfae7;
  justify-content: space-between;
  text-align: center;
}

img {
  height: 3rem;
}

.container {
  display: flex;
  /* flex-direction: column; */
}

.navigation {
  padding: 7rem 0;
  text-align: left;
  font-size: 1.2rem;
  min-height: 90vh;
  min-width: 20rem;
  background-color: #242a2c; /*#9b9a99; */
}

.navigation ul {
  color: rgb(85, 11, 30);
}
.navigation a {
  text-decoration: none;
  font-weight: 700;
  color: #a0cfdf;
}

.navigation a:hover,
a.active {
  color: #0dfae7;
  font-weight: 900;
}
.navigation li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #3a6637;
}

.page__title {
  background-color: #242a2c;
  color: #a0cfdf;
  text-align: center;
  text-transform: uppercase;
}

.page__title,
.page__details {
  padding: 1rem;
}

/* ///////////////////// FROM AND ITS CONTROLS //////////////////////////*/
form {
  width: 100%;
  max-width: 55rem;
  margin: 1.5rem auto; /* horizontal centering*/
  padding: 2rem 3rem;
  background: #757f82;
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}

/* To contain 1 control in a row*/
.control-group__col {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

/* To contain multiple controls in a row */
.control-group__row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 2px;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1; /* shorthand for flex-grow: 1; this allows item to grow as space allows */
  padding-bottom: 0.2rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row input {
  height: 1.5rem;
  font-size: 0.9rem;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.fit-content {
  max-width: fit-content;
}

label {
  max-width: fit-content;
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  color: #64e9e9;
  text-transform: uppercase;
  margin-right: 1rem;
  font-weight: 600;
}

.text-transform__no {
  text-transform: none;
}

.text-bold {
  font-weight: bold;
}

.text-yellow {
  color: rgb(124, 4, 4);
}

.p-t-1 {
  padding-top: 1rem;
}

.p-t-2 {
  padding-top: 2rem;
}

input {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 0 solid #758a8a;
  background-color: #cbd6d6;
  color: #020202;
}

select {
  max-width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #758a8a;
  background-color: #cbd6d6;
  color: #142020;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  max-width: none;
  margin-right: 0.5rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #d9e2f1;
}

fieldset {
  margin: 0.5rem 0;
}

legend {
  font-weight: bold;
  color: rgb(201, 250, 250);
  text-transform: uppercase;
  font-size: 1.1rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  background-color: #147b73;
  color: #d9e2f1;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #0dfae7;
  color: #3d3f43;
}

.button-flat {
  background-color: transparent;
  color: #324545;
}

.button-flat:hover,
.button-flat:focus {
  background-color: transparent;
  color: #0dfae7;
}

/* Move Navitation to Top at 800px screen */
@media (max-width: 800px) {
  .container {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .navigation,
  .navigation li,
  .navigation li a {
    min-height: fit-content;
    min-width: 100%;
    text-align: center;
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 700;
  }

  .page__title {
    font-size: 0.8rem;
  }

  .page__details {
    padding: 0;
  }

  form {
    border-radius: 0;
  }
}

@media (max-width: 900px) {
  form {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
  }
  .control-group__row {
    flex-direction: column;
    gap: 0rem;
  }

  input[type="number"] {
    max-width: 100%;
  }
  .fit-content {
    max-width: none;
  }
}
